{% extends 'layout.html' %}

{% block title %}
    Registration
{% endblock %}                                                  

{% block content %}

<h1 class="display-1">Registration</h1>
<form action="" class="form">
        <div class="form-group">
            <label for="username" class="form-label">Username (email): </label>
            <input type="text" name="username", required class="form-control">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password: </label>
            <input type="password", name="password", required class="form-control">
        </div>
        <div class="form-group">
            <label for="full_name" class="form-label">Full Name: </label>
            <input type="text", name="full_name", id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="qualification" class="form-label">Qualification: </label>
            <input type="text", name="qualification", required class="form-control">
        </div>
        <div class="form-group">
            <label for="date_of_birth" class="form-label">Date Of Birth: </label>
            <input type="date", name="date" class="form-control">
        </div>
        <br>
        <div class="form-froup">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>

{% endblock %}